@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  background-color: rgb(240, 230, 230);
  font-family: "Open Sans", "Sans-serif";
}
